<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/code-repos/maven-project">
        <classes>
            <class name="testngsample2"/>
            <class name="testngsample3"/>


        </classes>
    </test>
</suite>